[package]
name = "boreal"
version = "0.0.1"
repository = "https://github.com/vthib/boreal"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
default = ["hash", "object"]
# Enables the "hash" module.
hash = ["md-5", "sha1", "sha2", "hex", "crc32fast"]
# Enables the "pe", "elf" and "macho" modules.
object = ["dep:object"]

[dependencies]
boreal-parser = { path = "../boreal-parser", version = "0.0.1" }

regex = "1.5"
# Needed to parse & modify HIR for some modifiers (eg wide regex)
# No default features to disable unicode, we do not need it
regex-syntax = { version = "0.6", default-features = false }

# Proper error reporting on compilation
codespan-reporting = "0.11"

# Scanning for bytes
grep-matcher = "0.1"
grep-regex = "0.1"
aho-corasick = "0.7"
memchr = "2.4"

# "hash" feature
crc32fast = { version = "1.3", optional = true }
hex = { version = "0.4", optional = true }
md-5 = { version = "0.10", optional = true }
sha1 = { version = "0.10", optional = true }
sha2 = { version = "0.10", optional = true }

# "object" feature
object = { version = "0.29", optional = true }

[dev-dependencies]
base64 = "0.13"
const_format = "0.2"
glob = "0.3.0"
yara = { version = "0.15", features = ["vendored"] }
# There is no need for HTML reports, but criterion forces us to declare this
# to remove a warning...
criterion = { version = "0.3", features = ["html_reports"] }

[[bench]]
name = "benches"
harness = false
