[package]
name = "boreal"
version = "0.0.1"
repository = "https://github.com/vthib/boreal"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
default = ["hash", "object"]

# Enables the "hash" module.
hash = ["md-5", "sha1", "sha2", "hex", "crc32fast"]

# Enables the "pe", "elf" and "macho" modules.
#
# The "pe" module is missing signatures details unless the `openssl` feature
# is enabled.
object = ["dep:object"]

# Enables the "pe.signatures" module field.
# The `object` feature must also be enabled to get access to the "pe" module.
openssl = ["dep:openssl", "dep:openssl-sys", "dep:foreign-types-shared"]

# Enables criterion for benches
# Criterion is so chunky, I don't want it in my dev builds
bench = ["dep:criterion"]

[dependencies]
boreal-parser = { path = "../boreal-parser", version = "0.0.1" }

# Proper error reporting on compilation
codespan-reporting = "0.11"

# Scanning for bytes
aho-corasick = "0.7"
memchr = "2.4"
regex = "1.5"
# No default features to disable unicode, we do not need it
regex-syntax = { version = "0.6", default-features = false }

# "hash" feature
crc32fast = { version = "1.3", optional = true }
hex = { version = "0.4", optional = true }
md-5 = { version = "0.10", optional = true }
sha1 = { version = "0.10", optional = true }
sha2 = { version = "0.10", optional = true }

# "object" feature
object = { version = "0.29", optional = true }

# "openssl" feature
openssl = { version = "0.10", optional = true }
openssl-sys = { version = "0.9", optional = true }
foreign-types-shared = { version = "0.1", optional = true }

# There is no need for HTML reports, but criterion forces us to declare this
# to remove a warning...
criterion = { version = "0.4", optional = true }

[dev-dependencies]
base64 = "0.13"
const_format = "0.2"
glob = "0.3.0"
tempfile = "3.3"
walkdir = "2.3"
yara = { version = "0.16", features = ["vendored"] }

[[bench]]
name = "benches"
harness = false
